.table{
    margin: 0 auto;
    margin-top: 5px;
}

*{
    margin: 0px;
}

.hidden {
    visibility: hidden; /*მის ადგილას არის, მაგრამ არ ჩანს*/
}

.content{
    text-align: center;
    margin: 30px;
}

.content2{
    text-align: center;
    margin: 5px;
}

.content2 select, .content2 input{
    margin: 10px;
    padding: 5px;
}

.content2 select{
    width: 200px;
}

.content2 select.disabled option{
    color: black;
}

.content2 select.disabled option:first-child{
    color: rgb(135, 136, 138);
}

.content2 select.disabled {
    color: rgb(135, 136, 138);
}

.content2 input{
    width: 100px;
}

.content .send{
    margin: 10px;
    width: 140px;
    padding: 5px;
    font-size: 14px;
}

.send{
    background-color: white;
}

tbody tr{
    border: 1px slategrey;
    background-color: #ff7f5040;
} 

 thead{
    background-color: #ff7f5059
 }

.number, .tim, .content{
    padding: 15px;    
}

.number {
    width: 30px;
}

.logo {
    width: 50px;
}

.tim{
    width: 250px;
}

.header{
    width: 80px;
}

table img {
    height: 25px; 
    
}

table tr td {
    text-align: center;
    border-radius: 5px;
}

table tr th {
    border-radius: 5px;
}

table tr td:nth-child(3) {
    text-align: left;
    padding-left: 10px;
}

.laliga{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0 auto;
}

.menu{
    margin: 0 auto;
    width: 95%;
    border-bottom: 2px solid;
    text-align: center;
}

.menu a{
    width: 100px;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
}

.menu a.active {
    color: coral;
    border-color: coral;
}

button, select, input{
    border-radius: 20px;
    color: coral;
    border-color: coral;
}

.newTournsment{
    margin: 0 auto;
    text-align: center;
    width: 95%;
}

.newTournsment button{
    width: 150px;
    margin: 10px;
    padding: 5px;
    background-color: white;
}

/* js */

.hide{
    display: none;
}

.teams input{
    padding: 5px;
    margin: 10px;
}

.teams {
    list-style: none;
}

.saveTurnament {
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.start{
    text-align: center;
}

.start input{
    padding: 5px;
    margin-top: 10px;
}

input:focus{
   outline: none;
}

select:focus{
    outline: none;
 }

h2{
    text-align: center;
    margin-top: 20px;
}

.finishTournnament{
    padding: 5px;
    margin: 10px;
    width: 183px;
}

.teams li input{
    width: 150px;
}

button{
    cursor: pointer;
    color: coral;
    border-color: coral;
    background-color: white;
}

button:focus{
    outline: none;
}
